<header id="header">
    <div class="inner">
        <a href="#" class="image avatar"><img src="images/Zoomed OUt Headshot.jpg" alt="" /></a>
        <!-- <h1><strong>I am Daniel Gliksberg</strong>, a junior in Mechanical Engineering at MIT,
        and I have a passion for robotics and hardware design.</h1> -->
        <h1><strong>Daniel Gliksberg</strong></h1>
        <h1>Mechanical Engineering Junior&nbsp@&nbspMIT</h1>
        <h1>Control, Instrumentation, &&nbspRobotics</h1>
    </div>
</header>